.editorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  padding: 0px 15px 15px 15px;
  flex-grow: 1;
  .textArea {
    font-size: 1.1em;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    color: var(--text-color);
    background-color: var(--note-background-color);
  }
}
