.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.left {
  width: 330px;
  flex: 0 0 330px;
}
.right {
  flex: 1 1 auto;
}
.left,
.right {
  display: flex;
  flex-direction: column;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--line-color);
}
